.Rproj.user

.Rhistory

data/*
output/*
tests/testthat/testdata/*

!data/.gitkeep
!output/.gitkeep
!tests/testthat/testdata/.gitkeep
!tests/testthat/testdata/regEngWales.csv
!tests/testthat/testdata/output_one_region_data_original.csv
