# Git Files
!/**/.gitkeep

# R Environment Files
.Rproj.user
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Renviron

# Common Data Files
*.csv
*.pdf
*.JSON
*.yml
*.yaml
*.toml
*.xlsx
*.xml
*.txt
*.html
*.xls
*.rds

# Output Folders
tests/testthat/testdata/*

# Test Data Exclusions
!tests/testthat/config.yml
!tests/testthat/testdata/regEngWalesPop.csv
!new_tests/testthat/testdata/*
