# Git Files
!/**/.gitkeep

# R Environment Files
.Rproj.user
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Renviron
..Rcheck
.vscode/
renv
lib

# Common Data Files
*.csv
*.pdf
*.JSON
*.yml
*.yaml
*.toml
*.xlsx
*.xml
*.txt
*.html
*.xls
*.rds

# Test Data Exclusions
!inst/testdata/*
!inst/extdata/config_templates/
!inst/extdata/config_templates/*.yml
_snaps
