# These owners will be the default owners for everything in the repo. Unless a later match takes precedence, @global-kenechiomeke-ONS and @global-CBROWN-ONS
# will be requested for review when someone opens a pull request.
*       @kenechiomeke-ONS @Vijendra-ingole @CBROWN-ONS @jchapman68
